<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <span><%= @user.name %></span>
        <span>rejon  :<%= @user.area %></span>
        <span>profile:<%= @user.profile %></span>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
      <% if @user.microposts.any? %>
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
              <%= render @microposts %>
          </ol>
      <% end %>
  </div>
</div>

<!--<div class="row  col-md-6 col-md-offset-3">-->
<!--    <div class="panel panel-info">-->
<!--        <div class="panel-heading">-->
<!--            ユーザ情報-->
<!--        </div>-->
<!--        <div class="panel-body">-->
<!--           <table class="table table-striped table-borderd">-->
<!--                <tr>-->
<!--                    <td class="col-md-2">Email</td>-->
<!--                    <td class="col-md-4"><%= @user.email %></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="col-md-2">地域</td>-->
<!--                    <td class="col-md-4"><%= @user.area %></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="col-md-2">プロフィール</td>-->
<!--                    <td class="col-md-4"><%= @user.profile %></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="col-md-2">作成日時</td>-->
<!--                    <td class="col-md-4"><%= @user.created_at %></td>-->
<!--                </tr>-->
<!--                 <tr>-->
<!--                    <td class="col-md-2">更新日時</td>-->
<!--                    <td class="col-md-4"><%= @user.updated_at %></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->